.pitch-deck-review-dialog{

    .MuiPaper-root{
        max-width: 900px;

        .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
            border-color: #f44336;
            // border-color: blue;
        }


        .MuiInputBase-input.Mui-disabled {
            color: rgba(0, 0, 0, 0.87)!important;

        }
    }


    .MuiFormControl-root{
        margin-bottom: 12px;
    }
}