.pitch-deck-review-page,
.faas-page {
    .intro-section {
        padding: 40px 0 20px;
    }

    .feedback-section {

        .carousel-root{
            .control-dots{
                .dot{
                    background: #071013;
                    opacity: 1;
                    &.selected{
                        background: #da4167;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }

        .feedback-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 60px 0;
            font-size: 0.9em;

            .feedback {
                font-style: italic;
                margin-bottom: 12px;
            }

            .feedbacker-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;

                .images-wrapper {
                    display: flex;
                    flex-direction: row;

                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;

                        &.avatar {
                            position: relative;
                            left: -12px;
                        }
                    }
                }

                .name-wrapper {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-weight: bold;
                        color: #1f1f1f;
                    }
                }
            }
        }
    }

    .how-it-works-section {
        padding: 20px 0;

        .steps-wrapper {
            padding-top: 12px;
            display: flex;
            flex-direction: row;

            .step-card {
                flex-basis: 0;
                flex-grow: 1;
                padding: 12px 24px;
                display: flex;
                flex-direction: column;
                &:not(:last-child) {
                    margin-right: 12px;
                }

                .title {
                    font-weight: bold;
                }

                .description {
                    font-size: 0.9em;
                }
            }
        }
    }

    .faq-section {
        padding: 20px 0;

        .accordion-wrapper {
            padding-top: 12px;

            .MuiAccordionDetails-root {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .pitch-deck-review-page,
    .faas-page {
        .how-it-works-section {
            .steps-wrapper {
                display: flex;
                flex-direction: column;

                .step-card {
                    padding: 12px;
                    flex-basis: unset;
                    margin-bottom: 12px;
                    &:not(:last-child) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .pitch-deck-review-page,
    .faas-page {
        .intro-section {
            .va-button {
                width: 100%;
            }
        }
    }
}
