.impact-page {
    .intro-wrapper {
        padding: 40px 0 24px;
    }

    .hyperlink {
        color: blue;
        text-decoration: underline;
        font-weight: normal;
        cursor: pointer;
    }

    .column-title {
        font-weight: bold;
        color: black;

        display: flex;
        flex-direction: row;
        align-items: center;

        .clear-all {
            position: relative;
            top: 2px;
            font-size: 0.6em;
        }
    }

    .MuiAutocomplete-root {
        width: 300px;
    }

    .select-sdg-section {
        .sdg-list-section {
            display: flex;
            flex-direction: row;
            margin-top: 24px;

            // .page-subtitle {
            //     display: flex;
            //     flex-direction: row;
            //     align-items: center;
            // }

            .available-sdg-section {
                flex: 1 1;
                padding-right: 6px;

                .sdg-card {
                    svg {
                        fill: green;
                    }
                }
            }

            .selected-sdg-section {
                flex: 1 1;
                padding-left: 6px;

                .sdg-card {
                    svg {
                        fill: red;
                    }
                }
            }

            .none-selected {
                display: flex;
                // justify-content: center;
                font-style: italic;
            }

            .sdg-container {
                margin: 12px 0 0 0;
                padding: 12px;
                border: solid 1px rgb(226, 226, 226);
                border-radius: 6px;

                .sdg-card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    padding-right: 12px;
                    -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                    -moz-user-select: none; /* Old versions of Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none;

                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }

                    .left-content {
                        display: flex;
                        align-items: center;
                        img {
                            width: 50px;
                            height: 50px;
                            margin-right: 12px;
                        }
                    }

                    svg {
                        width: 15px;
                        height: 15px;
                        // fill: green;
                    }
                }
            }
        }
    }

    .measure-target-section {
        #accordion-wrapper{
            padding: 0 2px;
        }
        .MuiAccordion-root {
            background-color: transparent;

            .MuiAccordionSummary-root {
                display: flex;
                margin: 0 20px;
            }
        }

        .sdg-container {
            // margin: 12px 0 48px 0;
            // padding: 12px;
            // border: solid 1px rgb(226, 226, 226);
            // border-radius: 6px;
            .target-card {
                display: flex;
                align-items: center;
                padding: 12px;
                overflow: unset;
                background-color: #fff;

                &:not(:last-child) {
                    margin-bottom: 18px;
                }

                // .left-section {
                    img {
                        width: 300px;
                        margin-right: 12px;
                    }

                    
                // }

                .right-section {
                    display: flex;
                    flex-direction: column;
                    padding: 0 12px;
                    width: 100%;

                    .remove-button-wrapper {
                        position: relative;
                        top: -18px;
                        margin-bottom: -27px;
                        left: 30px;
                        display: flex;
                        justify-content: flex-end;

                        .remove-button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: red;
                            color: white;
                            padding: 3px;
                            font-weight: bold;
                            font-size: 1em;
                            cursor: pointer;
                            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
                        }
                    }

                    .target-title {
                        font-weight: bold;
                        margin-bottom: 6px;
                    }

                    .target-description {
                        width: 100%;
                    }

                    .label {
                        margin-top: 24px;
                        font-size: 0.8em;
                    }

                    .slider-wrapper {
                        padding: 24px 0 0 0;

                        .self-assessment {
                            font-weight: bold;
                        }
                    }

                    .download-link {
                        display: flex;
                        justify-content: flex-end;
                        font-size: 0.8em;
                        margin-top: -12px;
                    }
                }
            }
        }

        .download-all{
            display: flex;
            justify-content: flex-end;
        }
    }

    .navigation-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .button-wrapper {
            margin-top: 12px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .impact-page {
        .MuiAutocomplete-root {
            width: 100%;
        }
        .select-sdg-section {
            .sdg-list-section {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
            }

            .sdg-container {
                margin-bottom: 24px !important;
            }
        }
        .measure-target-section {
            .sdg-container {
                .target-card {
                    flex-direction: column;

                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    img {
                        width: 100%;
                        margin-right: 0px;
                    }

                    .right-section {
                        .remove-button-wrapper {
                            top: -196px;
                            left: 23px;

                            .remove-button {
                            }
                        }

                        .target-title {
                        }

                        .target-description {
                        }

                        .label {
                        }

                        .slider-wrapper {
                            padding: 24px 12px 0 12px;
                            width: unset;

                            .self-assessment {
                            }
                        }
                    }
                }
            }
        }
    }
}
