.pdf-purchase-dialog {
    .MuiPaper-root {
        max-width: 900px;

        .intro-text {
            margin-bottom: 24px;
            font-size: 0.9em;
        }

        .inputs-wrapper {
            .MuiFormControl-root {
                // margin-bottom: 12px;

                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }

            .field-wrapper.logo-upload {
                .MuiInputBase-root:hover {
                    .MuiOutlinedInput-notchedOutline {
                        border-color: black !important;
                    }
                }

                &.no-image {
                    .MuiInputBase-input {
                        color: rgba(0, 0, 0, 0.57);
                        cursor: text;
                    }
                }
                &.image {
                    .MuiInputBase-input {
                        color: rgba(0, 0, 0, 0.87);
                        cursor: text;
                    }
                }
            }

            .select-image-placeholder {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                background-color: #ececec;
                color: rgba(0, 0, 0, 0.7);
                border-radius: 4px;
            }

            // weirdness caused by cropper - TODO FIX--------------
            .company-intro.no-image {
                position: relative;
                top: -70px;
                margin-bottom: -70px;
            }
            .company-intro.image {
                position: relative;
                top: -175px;
                margin-bottom: -175px;
            }

            .image-cropper-wrapper {
                min-height: 200px;
                .cropper-wrapper {
                    width: 100%;
                    .helper-text {
                        color: rgba(0, 0, 0, 0.54);
                        font-size: 0.75rem;
                        margin-top: 3px;
                        text-align: left;
                        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                        font-weight: 400;
                        line-height: 1.66;
                        letter-spacing: 0.03333em;
                        margin-left: 14px;
                        margin-right: 14px;
                    }
                }
            }
            //------------
        }

        .MuiFormControlLabel-label {
            font-size: 0.8rem;
        }

        .ts-and-cs-error {
            color: red;
            margin: 6px 0 -9px 0;
        }

        .MuiDialogActions-root{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .validation-text {
                margin-bottom: 6px;
            }

            .MuiButton-root.confirm{
                margin-left: 12px;
            }

        }
    }
}

@media only screen and (max-width: 600px) {
    .pdf-purchase-dialog {
        .MuiDialog-paper {
            margin: 12px;
            height: calc(100% - 24px);
            max-height: unset;

            .inputs-wrapper {
                display: flex;
                flex-direction: column;
                .MuiFormControl-root {
                    margin-bottom: 12px;

                    // &:not(:last-child) {
                    //     margin-bottom: 12px;
                    // }
                }

                .field-wrapper.name {
                    order: 1;
                }
                .field-wrapper.email {
                    order: 2;
                }
                .field-wrapper.companyName {
                    order: 3;
                }
                .field-wrapper.phone {
                    order: 4;
                }
                .field-wrapper.companyWebsite {
                    order: 5;
                }
                .field-wrapper.logo-upload {
                    order: 7;
                }

                .field-wrapper.company-intro {
                    order: 6;
                }
                .field-wrapper.image-cropper-wrapper {
                    order: 8;
                    .select-image-placeholder {
                        flex-grow: 1;
                    }
                }

                .company-intro.no-image {
                    top: 0;
                    margin-bottom: 12px;
                }

                .company-intro.image {
                    top: 0;
                    margin-bottom: 12px;
                }
            }

            .ts-and-cs-error {
                color: red;
                margin: 6px 0 0px 0;
            }

            .MuiDialogActions-root {
                align-items: center;
    
                
    
                .button-wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
    
                    .MuiButton-root {
                        &.confirm {
                            order: 1;
                            margin-bottom: 6px;
                            margin-left: 0;
                        }
                        &.cancel {
                            order: 2;
                        }
                    }
                }
            }
        }

        .MuiDialogActions-spacing > :not(:first-child) {
            margin-left: 0px;
        }

        
        
    }
}
