.sector-section {
    .financials-wrapper {
        display: flex;
        flex-direction: row;
        // align-items: stretch;

        .financials-table-wrapper {
            display: flex;
            width: 50%;
            margin-right: 12px;

            .financials-table {
                padding: 12px;
                
                .cost {
                    padding: 6px 12px;
                    font-size: 1.2em;

                    &.red {
                        font-weight: bold;
                        color: red;
                    }
                }

                .MuiFormHelperText-root {
                    width: 100%;
                }
            }
        }

        .financials-line-chart-wrapper {
            display: flex;
            width: 50%;

        }
    }
}
