.podcast-page{
    .back-link-wrapper{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        padding-bottom: 12px;
        
        .back-link{
            text-decoration: underline;
            margin-left: 6px;
        }
    }
    .intro-section{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .youtube-player{
        width: 100%;
        height: 60vh;
    }
    .description-wrapper{
        padding-top: 24px;

        .page-subtitle{
            font-size: 1.2em;
        }
    }
}

