.home-page {
    .header-section {
        display: flex;
        background-color: #071013;
        color: white;
        // padding: 75px 0;
        height: 100vh;

        .title-wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
            position: relative;
            top: 150px;

            .title {
                font-size: 3em;
                font-weight: 600;
                line-height: 1.1;
                .full-stop {
                    color: #d81747;
                }
            }

            .sub-title {
                display: flex;
                flex-direction: row;
                font-size: 1.5em;
                margin-top: 12px;
                justify-content: center;
                .full-stop {
                    color: #d81747;
                }
            }

            .cta-wrapper {
                margin-top: 24px;
                a {
                    text-decoration: none;
                    margin-right: 12px;
                }
                svg {
                    margin-left: 6px;
                    font-size: 1.4em;
                }
            }

            .image-wrapper {
                margin-top: 48px;
                img {
                    width: 300px;
                }
            }
        }
        .read-more {
            color: white;
            text-align: center;
            width: 100%;
            font-size: 0.875rem;
            bottom: 5vh;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                fill: #d81747;
                cursor: pointer;
                z-index: 1000;
            }
            span {
                cursor: pointer;
                z-index: 1000;
            }
        }
    }

    .body-section {
        .sub-title {
            font-size: 1.5em;
            font-weight: 700;
        }

        .intro-wrapper {
            margin-top: 96px;
            // max-width: 400px;
        }

        .team-wrapper {
            margin-top: 96px;
            .card-wrapper {
                margin-top: 24px;
                display: flex;
                align-content: space-evenly;

                .MuiCard-root {
                    max-width: 600px;
                    padding: 12px;

                    img {
                        border-radius: 4px;
                        height: 120px;
                        margin-bottom: 12px;
                    }

                    .name-wrapper {
                        font-weight: bold;
                        font-size: 1.1em;
                        margin-bottom: 12px;
                    }

                    .description-wrapper {
                        font-size: 0.9em;
                    }

                    &:nth-child(odd) {
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .home-page {
        .header-section {
            .title-wrapper {
                top: 100px;
                .sub-title {
                    margin-top: 12px;
                    flex-direction: column;
                    font-size: 1.5em;
                }
            }
        }
        .body-section {
            .team-wrapper {
                .card-wrapper {
                    flex-direction: column;
                    &:nth-child(odd) {
                        margin-right: 0;
                    }
                    .MuiCard-root {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}