.content {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 12px;
    z-index: 2;
    position: relative;
}

.full-height-content {
    min-height: calc(100vh - 215px); /* will cover the 100% of viewport minus (header + footer) */
    overflow: hidden;
    display: block;
    // margin-top: 76px;
}

.field-wrapper {
    display: inline-flex;

    width: calc(50% - 6px);
    margin-bottom: 12px;

    &:nth-child(odd) {
        margin-right: 12px;
    }

    .MuiFormControl-root {
        width: 100%;
    }
}

.MuiFormControl-root {
    width: 100%;

    .MuiFormLabel-root.Mui-focused {
        color: #da4167 !important;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #da4167 !important;
    }
}



.MuiButton-root.va-button {
    color: white;
    border-radius: 5px;
    font-family: "Poppins", "Helvetica", sans-serif;
    min-width: 135px;
    padding: 12px;
    font-weight: 500;
    border: none;
    background-color: #da4167;

    &:hover{
        background-color: #940025;
    }

    &:disabled{
        background-color: gray !important;
        border: none;
        cursor: unset;  
    }

    &.cta{
        font-weight: 700;
        width: 200px;
    }

    &.secondary{
        background-color: #071013;
        // color: #d81747;
        border: solid 1px #d81747;

        &:hover{
            background-color: #1f2a2e;
            border: solid 1px #940025;
        }
    }
}


@media only screen and (max-width: 600px) {
    .full-height-content {
        min-height: calc(100vh - 215px); /* will cover the 100% of viewport minus (header + footer) */
        // margin-top: 68px;
    } 
}
