.content {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 12px;
    z-index: 2;
    position: relative;
}

.full-height-content {
    min-height: calc(100vh - 215px); /* will cover the 100% of viewport minus (header + footer) */
    overflow: hidden;
    display: block;
    // margin-top: 76px;
}

.top-page-margin {
    margin-top: 76px;
}

.page-title {
    font-size: 2em;
    font-weight: 700;
    color: black;
}
.page-subtitle {
    font-size: 1.5em;
    font-weight: 700;
    color: black;
}

.field-wrapper {
    display: inline-flex;

    width: calc(50% - 6px);
    margin-bottom: 12px;

    &:nth-child(odd) {
        margin-right: 12px;
    }

    .MuiFormControl-root {
        width: 100%;
    }
}

.validation-text {
    color: red;
    font-size: 0.8em;
}

.MuiFormControl-root {
    width: 100%;

    .MuiFormLabel-root.Mui-focused {
        color: #da4167 !important;
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #da4167 !important;
    }
}

.MuiButton-root.va-button {
    color: white;
    border-radius: 5px;
    font-family: "Poppins", "Helvetica", sans-serif;
    min-width: 135px;
    padding: 12px;
    font-weight: 500;
    border: none;
    background-color: #da4167;

    &:hover {
        background-color: #940025;
    }

    &:disabled {
        background-color: gray !important;
        border: none;
        cursor: unset;
    }

    &.cta {
        font-weight: 700;
        width: 200px;
    }

    &.secondary {
        background-color: #071013;
        // color: #d81747;
        border: solid 1px #d81747;

        &:hover {
            background-color: #1f2a2e;
            border: solid 1px #940025;
        }
    }
}

.MuiListItem-root {
    cursor: pointer;
    &:hover {
        background-color: #d81747;
        color: white;
    }

    &.Mui-selected {
        &:focus {
            outline: none;
        }
        &:hover {
            color: rgba(0, 0, 0, 0.87);
        }
    }
}

.MuiDialog-container .MuiDialog-paper {
    max-width: 1050px;

    .MuiTypography-h6{
        font-family: "Poppins", "Helvetica", sans-serif;
        font-weight: bold;
    }

    .step {
        font-size: 1.1em;
        font-weight: bold;
    }

    .intro-text {
        // margin-bottom: 24px;
        font-size: 0.9em;
    }

    .inputs-wrapper {
        margin-top: 12px;
    }

    .MuiFormControl-root{
        margin-bottom: 12px;
    }

    .MuiFormControlLabel-label {
        font-size: 0.8rem;
    }

    .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
        border-color: #f44336;
    }

    .MuiInputBase-input.Mui-disabled {
        color: rgba(0, 0, 0, 0.87)!important;
    }

    .ts-and-cs-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;

        .ts-and-cs-error {
            color: red;
            margin: 6px 0 -9px 0;
            text-align: right;
        }
    }

    .MuiDialogActions-root {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .validation-text {
            margin-bottom: 6px;
        }

        .MuiButton-root.confirm {
            margin-left: 12px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .full-height-content {
        min-height: calc(100vh - 215px); /* will cover the 100% of viewport minus (header + footer) */
        // margin-top: 68px;
    }

    .field-wrapper {
        display: flex;
        flex-direction: column;

        // width: calc(50% - 6px);
        width: unset;
        margin-bottom: 12px;

        &:nth-child(odd) {
            margin-right: unset;
        }
    }

    .MuiDialog-paper {
        margin: 12px;
        height: calc(100% - 24px);
        max-height: unset;

        .ts-and-cs-error {
            color: red;
            margin: 6px 0 0px 0;
        }

        .MuiDialogActions-root {
            align-items: center;

            .button-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;

                .MuiButton-root {
                    &.confirm {
                        order: 1;
                        margin-bottom: 6px;
                        margin-left: 0;
                    }
                    &.cancel {
                        order: 2;
                    }
                }
            }
        }

        .MuiDialogActions-spacing > :not(:first-child) {
            margin-left: 0px;
        }
    }
}
