body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  color: #636363;
  // font-family: 'Sen', Helvetica, Arial, sans-serif !important;
  text-rendering: optimizelegibility;

  a{
    color: #DA4167;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
