.call-booking-section{
    width: 1000px;
    .title-wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        .title{
            font-size: 2em;
            font-weight: bold;
        }
    
        .step-counter{
            font-size: 1.3em;
            // font-weight: bold;
        }
    }
    .iframe-wrapper{
        height: 656px;
        min-width: 320px;
    }
}


@media only screen and (max-width: 1040px) {
    .call-booking-section{
        .iframe-wrapper{
            height: 884px;
        }

        &.confirmation{
            height: 568px;
        }
    }
}

@media only screen and (max-width: 690px) {
    .call-booking-section{
        .iframe-wrapper{
            height: 800px;

            &.confirmation{
                height: 540px;
            }
        }
    }
}